/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    overflow: hidden;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* reset above///////////////////////////// */

#canvas1{
    background: #fff;
    position: relative;
}

.actions{
    position:fixed;
    top:0;
    left:20%;
  
}
.actions svg{
    width: 1.6em;
    height: 1.6em;
    margin-right: 38px;
    transition: all 0.3s;
}
.actions svg:nth-child(2){
    width: 1.85em;
    height: 1.85em;
    margin-top:10px;
}
.actions svg:nth-child(3){
    width: 1.5em;
    height: 1.5em;
    margin-top:10px;
    transform: translateY(-2px)
}

.actions .active{
    fill:red;
    transition: all 0.3s;
    transform:scale(1.2)
}
ol{
    list-style: none;
}
.colors{
    position:fixed;
    top:64px;
    left:12px;
    /* border:1px solid red; */
}
.colors > li{
    width:20px;
    height:20px;
    margin:15px 0;
    box-shadow:0 0 3px rgba(0,0,0,0.1)
}
li.black{
    border-radius: 50%;
    background:black;
}
li.red{
    border-radius: 50%;
    background: red;
}
li.green{
    border-radius: 50%;
    background:green;
}
li.blue{
    border-radius: 50%;
    background:blue;
}
.colors > li.active{
    box-shadow:0 0 3px rgba(0,0,0,1);
    transform:scale(1.2)
}
.sizes{
    position:fixed;
    right:10px;
    top:64px;
    margin-top:14px;
}

.sizes > .thin{
    height: 0;
    width: 30px;
    border-top:2px solid black;
}

.sizes > .thick{
    height: 0;
    width: 30px;
    border-top:5px solid black;
    margin-top:24px;
}

.sizes > .super{
    height: 0;
    width: 30px;
    border-top:8px solid black;
    margin-top:24px;
}
.clear{
    margin-left:20px;
}
